body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/banner-bg.jpg');
  background-size: cover; /* 使背景图片覆盖整个页面 */
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  backdrop-filter: blur(8px); /* 高斯模糊效果 */
}

.banner h1 {
  animation: fadeIn 2s ease-in;
  font-size: 3em;
}

.banner p {
  animation: fadeIn 3s ease-in;
  font-size: 1.5em;
  margin-top: 10px;
}

.button {
  display: inline-block;
  background-color: #ff5722;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1.2em;
  text-decoration: none;
}

.button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
  filter: blur(0.5px); /* 动态模糊效果 */
}

.introduction, .features, .testimonials, .download {
  padding: 50px 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 1200px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: #333;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #ff5722;
  margin: 10px auto;
  border-radius: 2px;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: calc(30% - 40px);
  margin: 20px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 1.5em;
  color: #333;
  margin: 15px 0;
}

.card p {
  padding: 0 15px;
  color: #555;
}

.testimonial-slider {
  position: relative;
  overflow: hidden;
  text-align: center;
}

blockquote {
  display: none;
  margin: 20px;
  font-size: 1.2em;
  color: #666;
  font-style: italic;
}

blockquote.active {
  display: block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
